/node_modules
/vendor
/public/hot
/public/storage
public/uploads
/storage/*.key
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
gs-retour-firebase-adminsdk-wqtyi-ded6af9c2b.json
#/public/css
#/public/js
#/public/mix-manifest.json
# But not these files...
#!/public/assets/*
#/public/assets/js
#/public/assets/css
#/public/assets/vendor
